assemblyai
chromadb
fastapi
google-api-python-client
isodate
langchain-core
langchain-google-genai
langchain-groq
langchain-text-splitters
langgraph
prometheus-client
psutil
python-dotenv
sse-starlette
uvicorn
youtube-transcript-api
yt-dlp
